<header>
  <h1>{{ title }}</h1>
  <app-button *ngIf="hasRoute('/')"
    color="{{showAddTask ? 'red' : 'green'}}"
    text="{{showAddTask ? 'Close' : 'Add'}}"
    (btnClick)="toggleAddTask()"
  ></app-button>
</header>